.page4 {
    padding: 150px 100px 60px;
    width: 100%;
    background: $color3;
    @media screen and (max-width:1100px) {
      padding: 150px 60px 60px;
    }
    @media screen and (max-width:950px) {
     padding: 120px 30px 60px;
    }
    @media screen and (max-width:550px) {
      padding: 120px 5px 60px;
    }

    .page4-container{
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
     }
  
    h2 {
      font-size: 2rem;
      letter-spacing: 3px;
      margin-bottom: 15px;
      @media screen and (max-width:950px) {
        text-align: center;
      }
    }
  
    .text p {
      font-size: 1.2rem;
      width: 67%;
      @media screen and (max-width:950px) {
        width: 70%;
        margin: 0 auto;
        line-height: 30px;
        margin-top: 30px;
        text-align: center;
      }
      @media screen and (max-width:550px) {
        width: 90%;
       }
    }
  
    .cars {
      margin: 60px 0 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 80px;
      @media screen and (max-width:1100px) {
        gap: 50px;
      }
      @media screen and (max-width:950px) {
        gap: 20px;
      }
      @media screen and (max-width:750px) {
        gap: 15px;
      }
      @media screen and (max-width:650px) {
       display: flex;
       flex-direction: column;
        width: 55%;
        gap: 30px;
        margin:35px auto ;
      }
  
      .car {
        display: grid;
        grid-template-rows: 15% 50% 15% 20%;
        position: relative;
        border: 1px solid $gray;
        border-radius: 30px;
        padding: 30px 15px 10px;
        box-shadow: 0 6px 15px 0 rgba(211, 233, 10, 0.2);
        gap: 5px;
        cursor: pointer;
        transition: 0.25s ease-in;
        height: 350px;


        @media screen and (max-width:850px) {
          height: 300px;
        }
        @media screen and (max-width:750px) {
          height: 250px;
        }
        @media screen and (max-width:650px) {
          height: 320px;
         }
         @media screen and (max-width:550px) {
          height: 280px;
         }
         @media screen and (max-width:450px) {
          height: 250px;
         }
  
        &:hover {
          transform: scale(1.1);
        }  
  
        img {
          width: 90%;
          position: relative;
          right: 12%;
          top: -5px;
        }
        .mercedes{
          animation: carsAnim 20s ease-in-out infinite;
          animation-delay: 19.99s;
        }
        .range{
          animation: carsAnim 20s ease-in-out infinite;
          animation-delay:6.66s;
        }
        .porsche{
          animation: carsAnim 20s ease-in-out infinite;
          animation-delay: 13.33s;
        }
        }
        h4{
            color: $color1;
            @media screen and (max-width:750px) {
              font-size: 0.8rem;
            }
            @media screen and (max-width:650px) {
              font-size: 1rem;
             }
        }
  
        .text-infos {
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          p {
            @media screen and (max-width:750px) {
              font-size: 0.75rem;
            }
            @media screen and (max-width:650px) {
              font-size: 1rem;
             }
            &:nth-child(2) {
              text-align: end;
            }
          }
        }

        @keyframes carsAnim {
          0%{
            transform: translate(-100px , -10px) scale(0.1);
            opacity: 0;
          }
          8%{
            transform: translate(0 , 0) scale(1.05);
            opacity: 0.9;
          }
          10%{
            transform: translate(0 , 0) scale(1);
            opacity: 1;
          }
          99%{
            transform: translate( 0 , 0) scale(1);
            opacity: 0.8;
          }
          100%{          
            transform: translate(-100px , -10px) scale(0.5);
            opacity: 0;
          }
        }
    }  
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            padding:10px 25px;
            border: 2px solid $color1;
            border-radius: 30px;
            background: transparent;
            color: $color2;
            cursor: pointer;
            font-size: 1rem;
            font-family: $font1;
            margin-top: 40px;
        }
    }
}