.page3{
    text-align: center;
    background: $color3;
    padding: 70px 60px 50px ;
    .page3-container{
        display: flex;
        width: 90%;
        margin: 70px auto 0;
        gap: 35px;
        align-items: center;
        justify-content: center;

        .contain{
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.336);
            height: 330px;
            width: 280px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            div{
                width: 80px;
                height: 80px;
                background: $color1;
                margin: 0 auto;
                border-radius: 50%;
            }
            h4{
                letter-spacing: 2px;
                font-size: 1.2rem;
            }

            p{
                line-height: 30px;
                font-size: 0.9rem;
            }

            &:nth-child(2){
                background: $color1;
                div{
                    background: $color3;
                }
            }
        }
    }
}